<%= render 'shared/errors', obj: @article %>
<div class="container bg-info shadow-lg p-3 mb-5 rounded">
    
    <%= form_with(model: @article, local: true) do |f|%>
      
        <div class="form_group row">
            
            <%= f.label :title, class: "col-2 col-form-label mt-3 text-light" %>
            <div class="col-10">
                <%= f.text_field :title, class: "form-control mt-3 mr-3 shadow-lg rounded", placeholder: "Title of article" %>
            </div>         
            
        
            <%= f.label :description, class: "col-2 col-form-label mt-3 text-light" %>
            <div class="col-10">
                <%= f.text_area :description, rows: 10, class: "form-control mt-3 shadow-lg rounded", placeholder: " Description of article" %>
            </div>        
        </div>    

        <div class="card-body">
            <%= link_to "Back", articles_path(@articles),data: { confirm: "Your article will be not saved!"}, class: " btn btn-outline-danger btn-lg "%>
            <%= f.submit class:"btn btn-outline-light btn-lg right "%>
        </div>                       
     
        
    <%end%>

    
</div>