<h1>Article listing page</h1>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table>
    <thead> 
        <tr>
            <th><strong>Title</strong></th>
            <th><strong>Description</strong></th>
            <th><strong>Actions</strong></th>
        </tr>
    </thead>
    
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.description %></td>            
                <td><%= link_to 'Show', article_path(article) %>
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?"} %>                
                </td>
            </tr>
        <% end %>
    </tbody>
</table>    

<p>
    <%= link_to 'Home', root_path('pages#home') %>
    <%= link_to 'New article', new_article_path(@article) %>   
</p>    
