<%= render 'shared/errors', obj: @user %>
<div class="container bg-info shadow-lg p-3 mb-5 rounded">
    
    <%= form_with(model: @user, local: true) do |f|%>
      
        <div class="form_group row">
            
            <%= f.label :username, class: "col-2 col-form-label mt-3 text-light" %>
            <div class="col-10">
                <%= f.text_field :username, class: "form-control mt-3 mr-3 shadow-lg rounded", placeholder: "Enter your username" %>
            </div>         
            
        
            <%= f.label :email, class: "col-2 col-form-label mt-3 text-light" %>
            <div class="col-10">
                <%= f.email_field :email, class: "form-control mt-3 shadow-lg rounded", placeholder: "Enter your emial" %>
            </div>

            <%= f.label :password, class: "col-2 col-form-label mt-3 text-light" %>
            <div class="col-10">
                <%= f.password_field :password, class: "form-control mt-3 shadow-lg rounded", placeholder: "Enter your password" %>
            </div>        
        </div>    

        <div class="card-body">
            <%= link_to "Back", root_path, data: { confirm: "Your account will be not created!"}, class: " btn btn-outline-danger btn-lg "%>
            <%= f.submit class:"btn btn-outline-light btn-lg right "%>
        </div>                       
     
        
    <%end%>

    
</div>