<h1 class="text-center mt-3"><%= @user.username %>'s profile </h1>
<div>
    <%= image_tag ("/assets/workerAvatar.jpg"), class: "img-responsive center"%>
</div>
<div class="text-center mt-3 ">
    <% if logged_in? %>
        <% if @user == current_user %>
            <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-info"%>        
        <% end %>
        <% if @user == current_user || current_user.admin? %>
            <%= link_to 'Delete', user_path(@user), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    <% end %>
</div>

<h3 class="text-center mt-3">Articles</h3>
<div class="flickr_pagination mt-3">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article'%>

<div class="flickr_pagination mt-3">
    <%= will_paginate @articles, :container => false %>
</div>